<!-- Detail Update View -->
{% extends 'base.html' %}
{% load tag_extras crispy_forms_tags %}

{% block title %}
    Employees Detail
{% endblock title %}

{% block content %}
    {% include 'components/navbar.html' %}
    {% main_ctn %}
        <div class="row justify-content-between">
            <h3 class='col-6'>
                {{ job_type | title }} - <small>{{ emp.ee_id }}</small>
                <a type="button" class="btn btn-link text-danger px-0"
                href="javascript:location.href='{% url 'employees:delete' emp.ee_id %}';">Delete</a>
            </h3>
            <div class="col-6">
                <a type="button" class="btn btn-link float-end"href="javascript:location.href='{% url 'employees:index' %}';">Back</a>
            </div>
        </div>
        {% crispy form %}
        <hr class="bg-dark border-2 border-top border-dark">
        {% if job_type == 'manager' %}
            {% emp_inline emp %}
        {% elif job_type == 'driver' or job_type == 'bus staff' %}
            {% trip_inline emp %}
        {% elif job_type == 'telephone staff'%}
            {% shift_inline emp %}
        {% endif %}

    {% end_main_ctn %}
{% endblock content %}
