<!-- Detail Update View -->
{% extends 'base.html' %}
{% load tag_extras crispy_forms_tags %}

{% block title %}
    Ticket Detail
{% endblock title %}

{% block content %}
    {% include 'components/navbar.html' %}
    {% main_ctn %}
        <div class="row justify-content-between">
            <h3 class='col-6'>
                Create {{ ticket_type | title }}
            </h3>
            <div class="col-6">
                <a type="button" class="btn btn-link float-end"
                    href="javascript:location.href='{% url 'trips:trip_detail_update' trip_id %}';">Back</a>
            </div>
        </div>
        {% crispy form %}
    {% end_main_ctn %}
{% endblock content %}
