{% extends 'base.html' %}
{% load tag_extras crispy_forms_tags %}

{% block title %}
    Bus Detail
{% endblock title %}

{% block content %}
    {% include 'components/navbar.html' %}
    {% main_ctn %}
        <div class="row justify-content-between">
            <h3 class='col-6'>
                Bus - <small>{{ bus.bus_id }}</small>
                <button type="button" class="btn btn-link text-danger px-0"
                onclick="window.location='{% url 'trips:bus_delete' bus.bus_id %}';">Delete</butt>
            </h3>
            <div class="col-6">
                <a type="button" class="btn btn-link float-end"href="javascript:location.href='{% url 'trips:bus_list' %}';">Back</a>
            </div>
        </div>
        {% crispy form %}
    {% end_main_ctn %}
{% endblock content %}