{% load tz %}
<h5>Trip schedule</h5>
{% if trips %}
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Bus ID</th>
                <th scope="col">Route</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">State</th>
            </tr>
        </thead>
        <tbody>
            {% for t in trips %}
                <tr {% if t.is_due %}class="table-secondary"{% endif %}
                onclick="window.location='{% url 'trips:trip_detail_update' t.trip_id %}';">
                    <td>{{ t.bus.bus_id }}</td>
                    <td>{{ t.sched.route | upper }}</td>
                    <td>{{ t.departure_date }}</td>
                    <td>{{ t.sched.departure_time | date:"H:i:s"}} - {{ t.sched.arrival_time | date:"H:i:s"}}</td>
                    {% if t.is_due %}
                        <td>Over</td>
                    {% else %}
                        <td>Active</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Empty :(</p>
{% endif %}