<form id='search-form'>
    <div class="row my-3">
        <div class="col-md">
            <div class="">
                <div class="form-text">Deparment Date</div>
                <input type="date" name="date" id="department-date" class="dateinput form-control">
            </div>
        </div>
        <div class="col-md">
            <div class="">
                <div class="form-text">Starting Point</div>
                <select name="route_start" class="select form-select" id="route-start">
                    <option value="" selected>---------</option>
                    {% for rs in route_starts %}
                        <option>{{ rs }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md">
            <div class="">
                <div class="form-text">Detination</div>
                <select name="route_dest" class="select form-select" id="route-dest">
                    <option value="" selected>---------</option>
                    {% for rd in route_dests %}
                        <option>{{ rd }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-auto float-end">
            <div class="">
                <div class="form-text" style="color: rgba(0,0,0,0);">a</div>
                <div>
                    <input type="submit" name="search" value="Search" 
                        class="btn btn-outline-success" id="search-btn"/>
                </div>
            </div>
        </div>
    </div>
</form>
